@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4"></h1>
    @*<p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>*@
</div>




<div class="card-body">
    <h2 class="card-title">Διαχείριση Ηλεκτρονικών Συλλογών</h2>

    <div class="row">
        <div class="col mt-30 mb-50">


            <div class="landing-svg">
                <svg id="Layer_2" data-name="Layer 2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 438 438">
                    <g id="Layer_1-2" data-name="Layer 1">
                        <g id="Layer_1-2" data-name="Layer 1-2">
                            <rect width="438" height="438" style="fill: rgba(244, 121, 32, 0);" />
                            <path d="m219,136.82c44.93,0,81.5,36.58,81.5,81.73s-36.58,81.5-81.73,81.5-81.5-36.58-81.5-81.73c.23-44.93,36.8-81.5,81.73-81.5h0Z" style="fill: #da1a32; fill-rule: evenodd;" />
                            <path d="m219,406.39c103.4.23,187.39-83.08,188.07-186.26,0-28.67-6.55-56.67-18.74-82.18h-118.53c44.93,27.32,59.6,86.47,32.06,131.63-17.61,28.9-48.77,46.28-82.63,46.06H4.06v90.76h214.94Zm.23-374.78h0c-103.4,0-187.17,83.99-187.84,187.17,0,28.45,6.55,55.99,18.74,81.73h118.08c-44.93-27.32-59.6-86.47-32.06-131.63,17.61-28.9,49.22-46.51,82.63-46.06h214.71V31.83l-214.26-.23h0Z" style="fill: #f47920; fill-rule: evenodd;" />
                        </g>
                    </g>
                </svg>
                </div><!--/-->



        </div><!--/col-->
    </div><!--/row-->
</div><!--/CARD-BODY-->




