@model IntegrationService.Models.Fields.FieldProducts

@{
    ViewData["Title"] = "Create";
}



<div class="card-body">

    <div class="row">
        <div class="col-md-6">
            <h2 class="card-title">Create</h2>
            <h6 class="card-subtitle mb-2">FieldProducts</h6>
        </div>
        <div class="col-md-6 text-end"><a asp-action="Index" class="return-link"><i class="icon-arrow-left-small"></i> <span>Back to List</span></a></div>
    </div>

    <div class="row">
        <div class="col mt-20 mb-50">


            <form asp-action="Create">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="FieldId" class="control-label"></label>
                    <select asp-for="FieldId" class="form-control" asp-items="ViewBag.FieldId"></select>
                </div>
                <div class="form-group">
                    <label asp-for="ProductsId" class="control-label"></label>
                    <select asp-for="ProductsId" class="form-control" asp-items="ViewBag.ProductsId"></select>
                </div>
                <div class="form-group">
                    <label asp-for="Value" class="control-label"></label>
                    <input asp-for="Value" class="form-control" />
                    <span asp-validation-for="Value" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="CreatedOn" class="control-label"></label>
                    <input asp-for="CreatedOn" class="form-control" />
                    <span asp-validation-for="CreatedOn" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ModifiedOn" class="control-label"></label>
                    <input asp-for="ModifiedOn" class="form-control" />
                    <span asp-validation-for="ModifiedOn" class="text-danger"></span>
                </div>
                <div class="form-group form-check">
                    <label class="form-check-label">
                        <input class="form-check-input" asp-for="Enabled" /> @Html.DisplayNameFor(model => model.Enabled)
                    </label>
                </div>
                <div class="form-group mt-20">
                    <input type="submit" value="Create" class="main-btn primary-btn btn-hover" />
                </div>
            </form>



        </div><!--/col-->
    </div><!--/row-->
</div><!--/CARD-BODY-->




@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
